<a href="https://colab.research.google.com/github/patil1306sanjana/Gender_Prediction/blob/main/fish_weight_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
fish = pd.read_csv('fish.csv')

In [ ]:
fish.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [ ]:
fish.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [ ]:
fish.describe()

            Weight     Length1     Length2     Length3      Height       Width
count   159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    398.326415   26.247170   28.415723   31.227044    8.970994    4.417486
std     357.978317    9.996441   10.716328   11.610246    4.286208    1.685804
min       0.000000    7.500000    8.400000    8.800000    1.728400    1.047600
25%     120.000000   19.050000   21.000000   23.150000    5.944800    3.385650
50%     273.000000   25.200000   27.300000   29.400000    7.786000    4.248500
75%     650.000000   32.700000   35.500000   39.650000   12.365900    5.584500
max    1650.000000   59.000000   63.400000   68.000000   18.957000    8.142000

In [ ]:
fish.columns

Index(['Species', 'Weight', 'Length1', 'Length2', 'Length3', 'Height',
       'Width'],
      dtype='object')

In [ ]:
y = fish['Weight']

In [ ]:
X = fish[['Length1','Length2', 'Length3','Height', 'Width' ]]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.7, random_state=2529)

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((111, 5), (48, 5), (111,), (48,))

In [ ]:
X_test

     Length1  Length2  Length3   Height   Width
6       26.8     29.7     34.5  14.1795  5.2785
54      29.5     31.7     35.0   9.4850  5.3550
80      17.8     19.6     20.8   5.1376  3.0368
138     43.2     46.0     48.7   7.7920  4.8700
91      20.5     22.5     24.0   5.8560  3.6240
48      22.0     24.0     27.2   7.5344  3.8352
52      24.0     26.0     29.2   8.8768  4.4968
103     25.4     27.5     28.9   7.1672  4.3350
57      25.6     28.0     30.8   8.7780  4.6816
149     10.7     11.2     12.4   2.0832  1.2772
153     11.4     12.0     13.2   2.2044  1.1484
108     27.8     30.0     31.6   7.6156  4.7716
90      20.0     22.0     23.5   5.5225  3.9950
118     36.6     39.0     41.3  12.4313  7.3514
131     34.8     37.3     39.8   6.2884  4.0198
100     23.5     25.6     27.0   6.5610  4.2390
15      29.4     32.0     37.2  15.4380  5.5800
46      21.0     22.5     25.0   6.5500  3.3250
132     35.5     38.0     40.5   7.2900  4.5765
79      17.2     19.0     20.2   5.6358  3.0502
64      17.5     19.0     21.3   8.3922  2.9181
35      12.9     14.1     16.2   4.1472  2.2680
133     36.0     38.5     41.0   6.3960  3.9770
116     36.5     39.0     41.4  11.1366  7.4934
31      35.0     38.5     44.0  18.0840  6.2920
146     10.0     10.5     11.6   1.9720  1.1600
53      25.0     27.0     30.6   8.5680  4.7736
28      32.8     36.0     41.6  16.8896  6.1984
1       24.0     26.3     31.2  12.4800  4.3056
117     36.5     39.0     41.4  11.1366  6.0030
9       28.5     30.7     36.2  14.2266  4.9594
12      29.1     31.5     36.4  13.7592  4.3680
129     31.7     34.0     37.8   5.7078  4.1580
111     32.5     35.0     37.3  11.4884  7.7957
147     10.1     10.6     11.6   1.7284  1.1484
125     40.1     43.0     45.5  12.5125  7.4165
120     37.0     40.0     42.5  11.7300  7.2250
158     13.8     15.0     16.2   2.9322  1.8792
51      23.6     25.2     27.9   7.0866  3.9060
34      38.0     41.0     46.5  17.6235  6.3705
23      31.8     35.0     40.6  15.4686  6.1306
127     41.1     44.0     46.6  12.4888  7.5958
21      31.4     34.0     39.2  15.9936  5.3704
113     34.0     36.0     38.3  10.6091  6.7408
109     30.5     32.8     34.0  10.0300  6.0180
101     25.0     26.5     28.0   7.1680  4.1440
10      28.4     31.0     36.2  14.2628  5.1042
157     13.2     14.3     15.2   2.8728  2.0672

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [ ]:
model.fit(X_train,y_train)

LinearRegression()

In [ ]:
model.intercept_

-519.2833724383815

In [ ]:
model.coef_

array([ 58.33792721,   8.53385903, -36.1520994 ,  29.86430261,
         2.25937742])

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
y_pred

array([ 485.76826299,  502.24720857,   94.72381964,  876.5711712 ,
        184.0789176 ,  219.30130488,  322.32532246,  376.22325991,
        372.35730485, -182.67537078, -160.60486837,  454.33586185,
        159.59755829,  843.48525226,  587.21680573,  299.53521445,
        597.72950823,  197.14605397,  639.89046741,   91.20067876,
        150.95424753, -103.08320574,  627.19712753,  795.69176861,
        814.68732975, -204.1496511 ,  329.98746856,  715.89288013,
        359.75634357,  792.3243925 ,  532.7036706 ,  552.00832342,
        433.48472727,  687.61750267, -204.76362537,  932.53668294,
        810.74234216,  -80.06217174,  284.36287887,  907.08036021,
        642.5828335 ,  959.33848223,  675.28792291,  718.86305458,
        623.89849226,  376.48346981,  530.83828119,  -86.2357066 ])

In [ ]:
from sklearn.metrics import mean_absolute_error, r2_score

In [ ]:
mean_absolute_error(y_test,y_pred)

103.02952922678541

In [ ]:
r2_score(y_test,y_pred)

0.8349141424416878

In [ ]:
model.predict([[26.8,29.7,34.5,14.1795,5.2785]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([485.76826299])